<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
</head>
<body>
    <form action="/atualizar/<%= tarefa.id%>" method="POST">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" value="<%= tarefa.nome%>">
    </form>
</body>
</html>